@use "./base.scss";

/* Center tables on the page */
.markdown-preview-view table {
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.markdown-rendered p {
    margin-bottom: 0px;
}

ul.has-list-bullet {
    margin-top: 0px;
}
